@theme {
  --breakpoint-xs: 320px;
  --breakpoint-tiny: 360px;
  --breakpoint-sm: 575px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1320px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1680px;
  --breakpoint-4xl: 1920px;
}