@import "tailwindcss";
@import "tw-animate-css";
@import "./styles/base.css";
@import "./styles/theme.css";
@import "./styles/typography.css";
@import "./styles/container.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans), var(--font-geist-sans), Arial, Helvetica,
    sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* Gray */
  --color-gray-00: var(--clr-gray-00);
  --color-gray-50: var(--clr-gray-50);
  --color-gray-100: var(--clr-gray-100);
  --color-gray-200: var(--clr-gray-200);
  --color-gray-300: var(--clr-gray-300);
  --color-gray-400: var(--clr-gray-400);
  --color-gray-500: var(--clr-gray-500);
  --color-gray-600: var(--clr-gray-600);
  --color-gray-700: var(--clr-gray-700);
  --color-gray-800: var(--clr-gray-800);
  --color-gray-900: var(--clr-gray-900);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-50: var(--clr-primary-50);
  --color-primary-100: var(--clr-primary-100);
  --color-primary-200: var(--clr-primary-200);
  --color-primary-300: var(--clr-primary-300);
  --color-primary-400: var(--clr-primary-400);
  --color-primary-500: var(--clr-primary-500);
  --color-primary-600: var(--clr-primary-600);
  --color-primary-700: var(--clr-primary-700);
  --color-primary-800: var(--clr-primary-800);
  --color-primary-900: var(--clr-primary-900);

  /* Secondary */
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-50: var(--clr-secondary-50);
  --color-secondary-100: var(--clr-secondary-100);
  --color-secondary-200: var(--clr-secondary-200);
  --color-secondary-300: var(--clr-secondary-300);
  --color-secondary-400: var(--clr-secondary-400);
  --color-secondary-500: var(--clr-secondary-500);
  --color-secondary-600: var(--clr-secondary-600);
  --color-secondary-700: var(--clr-secondary-700);
  --color-secondary-800: var(--clr-secondary-800);
  --color-secondary-900: var(--clr-secondary-900);

  /* Success */
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-50: var(--clr-success-50);
  --color-success-100: var(--clr-success-100);
  --color-success-200: var(--clr-success-200);
  --color-success-300: var(--clr-success-300);
  --color-success-400: var(--clr-success-400);
  --color-success-500: var(--clr-success-500);
  --color-success-600: var(--clr-success-600);
  --color-success-700: var(--clr-success-700);
  --color-success-800: var(--clr-success-800);
  --color-success-900: var(--clr-success-900);

  /* Warning */
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-50: var(--clr-warning-50);
  --color-warning-100: var(--clr-warning-100);
  --color-warning-200: var(--clr-warning-200);
  --color-warning-300: var(--clr-warning-300);
  --color-warning-400: var(--clr-warning-400);
  --color-warning-500: var(--clr-warning-500);
  --color-warning-600: var(--clr-warning-600);
  --color-warning-700: var(--clr-warning-700);
  --color-warning-800: var(--clr-warning-800);
  --color-warning-900: var(--clr-warning-900);

  /* Danger */
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-50: var(--clr-danger-50);
  --color-danger-100: var(--clr-danger-100);
  --color-danger-200: var(--clr-danger-200);
  --color-danger-300: var(--clr-danger-300);
  --color-danger-400: var(--clr-danger-400);
  --color-danger-500: var(--clr-danger-500);
  --color-danger-600: var(--clr-danger-600);
  --color-danger-700: var(--clr-danger-700);
  --color-danger-800: var(--clr-danger-800);
  --color-danger-900: var(--clr-danger-900);
}

:root {
  /* Gray */
  --clr-gray-00: #ffffff;
  --clr-gray-50: #f2f4f5;
  --clr-gray-100: #e4e7e9;
  --clr-gray-200: #c9cfd2;
  --clr-gray-300: #adb7bc;
  --clr-gray-400: #929fa5;
  --clr-gray-500: #77878f;
  --clr-gray-600: #5f6c72;
  --clr-gray-700: #475156;
  --clr-gray-800: #303639;
  --clr-gray-900: #191c1f;

  /* Primary */
  --clr-primary-50: #fff3eb;
  --clr-primary-100: #ffe7d6;
  --clr-primary-200: #ffcead;
  --clr-primary-300: #ffb685;
  --clr-primary-400: #ff9d5c;
  --clr-primary-500: #fa8232;
  --clr-primary-600: #de732d;
  --clr-primary-700: #99501f;
  --clr-primary-800: #663514;
  --clr-primary-900: #331b0a;

  /* Secondary */
  --clr-secondary-50: #eaf6fe;
  --clr-secondary-100: #d5edfd;
  --clr-secondary-200: #abdbfa;
  --clr-secondary-300: #81c9f8;
  --clr-secondary-400: #57b7f5;
  --clr-secondary-500: #2da5f3;
  --clr-secondary-600: #2484c2;
  --clr-secondary-700: #1b6392;
  --clr-secondary-800: #124261;
  --clr-secondary-900: #092131;

  /* Success */
  --clr-success-50: #eaf7e9;
  --clr-success-100: #d5f0d3;
  --clr-success-200: #abe0a7;
  --clr-success-300: #81d17c;
  --clr-success-400: #57c150;
  --clr-success-500: #2db224;
  --clr-success-600: #248e1d;
  --clr-success-700: #1b6b16;
  --clr-success-800: #12470e;
  --clr-success-900: #092407;

  /* Warning */
  --clr-warning-50: #fdfae7;
  --clr-warning-100: #fbf4ce;
  --clr-warning-200: #f7e99e;
  --clr-warning-300: #f3de6d;
  --clr-warning-400: #efd33d;
  --clr-warning-500: #ebc80c;
  --clr-warning-600: #bca00a;
  --clr-warning-700: #8d7807;
  --clr-warning-800: #5e5005;
  --clr-warning-900: #2f2802;

  /* Danger */
  --clr-danger-50: #fdeeee;
  --clr-danger-100: #fcdede;
  --clr-danger-200: #f8bcbc;
  --clr-danger-300: #f59b9b;
  --clr-danger-400: #f17979;
  --clr-danger-500: #ee5858;
  --clr-danger-600: #be4646;
  --clr-danger-700: #8f3535;
  --clr-danger-800: #5f2323;
  --clr-danger-900: #301212;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
